extends layout
include mixins/_hotel

block content
    h2= title
    each hotel in countryList
        .hotel_wrapper
            +hotel(hotel)
    else
        li There is no hotel available in this country.